doctype html
html
	body
		p Recipe name: #{recipe.name}
		P Recipe description: #{recipe.description}
		p Recipe author: #{recipe.author}
		ul Recipe tags :  
			each val in recipe.tags
				li=val
	if authorised 
		form(action='/recipe/delete/'+recipe.id, method='post')
			p
				input#submit(type='submit', value='Delete')
		a(href='/recipe/update/'+recipe.id) Update 