doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/regstyle.css')
  body
    form(action=`/recipe/update/${id}`, method='post')
      h2 = Update ypur recipe
      p
        label.floatLabel(for='Name') Name
        input#name(name='name', type='text', value= recipe.name)
      p
        label.floatLabel(for='Descrtion') Dedcription
        textarea#username(name="description",  style="width: 100%; height: 100px")=recipe.description
      p
        label.floatLabel(for='tags') tags
        input#tags(name='tags', type='text', value=recipe.tags.join(', '))
      p
        input#submit(type='submit', value='Edit')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    
