<nav class="navbar navbar-light navbar-expand-lg bg-light sticky-top">
	<%= link_to root_path, class: "navbar-brand" do %>
		<img src="http://s3.amazonaws.com/fllcasts/content_pictures/pictures/000/001/555/222be4efaa4567407c569fe554915a495cf23e33Lego-Mindstorms-Simple-Tank-Ev3-Fllcasts.png?1522237949" width="30" height="30" class="d-inline-block align-top" alt="">
		Home
	<% end %>

	 <div class="collapse navbar-collapse" id="navbarNav">
	 	<ul class="navbar-nav">
	 		<li class="nav-item">
	 			<%= link_to "Articles", articles_path %>
	 		</li>
	 	</ul>
	</div>
</nav>